<% layout("/layouts/boilerplate")%>
<body>
  <div class="exployees-grid">
    <%for (exployee of employees){%>
    <a href="/exployees/<%=exployee._id%>">
      <div class="card">
        <div class="image"><img src="<%=exployee.image%>" class="card-img-top" alt="..." /></div>
        
        <div class="card-body">
          <h6><%=exployee.title%></h6>
          <p class="card-text">
            <!-- &#8377; <%= exployee.name.toLocaleString("en-IN") %>/Night -->
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
</body>
